#root {
  height: 95vh;
  width: 95vw;
  text-align: center;
}

:root {
  --subsec-dark: #333333;
  --subsec-light: #404040;
  --subsec-light2: #4d4d4d;
  --button-color: #595959;

  --greens-dark: #515742;
  --greens-light: #5f654d;
  --greens-light2: #6d7458;
  --greens-buttons: #7a8263;
}

.top-tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0.5rem;
  background-color: var(--greens-dark);
}

.dice-roller {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--greens-light);
}

.dice-roller h3 {
  margin: 0;
}

.dice-roller p {
  margin: 0;
}

.dice-roller input {
  max-width: 5rem;
}

.dice-interface {
  display: flex;
  flex-direction: row;
}

.total {
  padding: 1rem;
  background-color: var(--greens-light2);
  border-radius: 1rem;
}

.modifier {
  padding: 1rem;
  background-color: var(--greens-light2);
  border-radius: 1rem;
}

.modifier input {
  background-color: var(--greens-dark);
}

.roll-interface {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.roll-interface.reverse {
  flex-direction: row-reverse;
}

.nations-sheet {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 2rem;
  background-color: var(--greens-dark);
  gap: 1rem;
}

.date-tracker {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.date-tracker p {
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
}

.date-tracker input {
  max-width: 20rem;
  min-width: 3rem;
  field-sizing: content;
  font-size: 2rem;
  background-color: var(--greens-dark);
}

.date-tracker-years {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0.5rem;
}

.date-tracker-months {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0.5rem;
}

.date-tracker-days {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0.5rem;
}

.nation-sheet {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  justify-content: space-between;
  background-color: var(--greens-light2);
}

.nation-sheet section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.nation-sheet section p {
  margin: 0;
}

.nation-sheet section input {
  font-size: 1.2rem;
  min-width: 1.5rem;
  field-sizing: content;
  background-color: var(--greens-dark);
}

.nation-sheet-header {
  display: flex;
  flex-direction: row;
}

::backdrop {
  background-image: linear-gradient(45deg, black, rgb(29, 29, 29));
  opacity: 0.9;
}

.flags-dialog-button {
  padding: 0.1rem;
  background-color: var(--greens-light2);
}

.flags-dialog-button img {
  width: 4rem;
  height: 3rem;
}

.flag-select-button img {
  width: 4rem;
  height: 3rem;
}

button {
  background-color: var(--greens-buttons);
}

dialog {
  background-color: var(--greens-dark);
  border: none;
}

dialog button {
  background-color: var(--greens-dark);
}

.population-field {
  background-color: var(--greens-light);
}

.pops-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.pop {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--greens-light2);
  gap: 1rem;
  padding: 0.5rem;
}

.pop input {
  field-sizing: content;
}

.pop button {
  font-size: 0.5rem;
}

.pop-portrait {
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
}

.pop-icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1rem;
}

.pop-icon-select-button {
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
