#root {
  height: 95vh;
  width: 95vw;
  padding: 2rem;
  text-align: center;
}

.top-tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1 1fr);
  border: solid white 0.2rem;
  padding: 1rem;
  border-radius: 1rem;
  gap: 0.5rem;
}

.dice-roller {
  display: flex;
  flex-direction: column;
  border: solid white 0.1rem;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}

.dice-roller h3 {
  margin: 0;
}

.dice-roller p {
  margin: 0;
}

.dice-roller input {
  max-width: 5rem;
}

.dice-interface {
  display: flex;
  flex-direction: row;
}

.total {
  padding: 1rem;
  border: 0.1rem solid white;
  border-radius: 1rem;
}

.modifier {
  padding: 1rem;
  border: 0.1rem solid white;
  border-radius: 1rem;
}

.roll-interface {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.roll-interface button {
  background-color: #333333;
}

.roll-interface.reverse {
  flex-direction: row-reverse;
}

.nations-sheet {
  display: flex;
  flex-direction: column;
  border: solid white 0.2rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.date-tracker {
  display: flex;
  flex-direction: row;
  border: solid white 0.1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.date-tracker p {
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
}

.date-tracker input {
  max-width: 20rem;
  min-width: 3rem;
  field-sizing: content;
  font-size: 2rem;
}

.date-tracker-years {
  display: flex;
  flex-direction: column;
  border: solid white 0.1rem;
  border-radius: 1rem;
  align-items: center;
  flex-grow: 1;
  padding: 0.5rem;
}

.date-tracker-months {
  display: flex;
  flex-direction: column;
  border: solid white 0.1rem;
  border-radius: 1rem;
  align-items: center;
  flex-grow: 1;
  padding: 0.5rem;
}

.date-tracker-days {
  display: flex;
  flex-direction: column;
  border: solid white 0.1rem;
  border-radius: 1rem;
  align-items: center;
  flex-grow: 1;
  padding: 0.5rem;
}

.nation-sheet {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border: solid white 0.1rem;
  border-radius: 0.5rem;
}

.nation-sheet section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.nation-sheet section p {
  margin: 0;
}

.nation-sheet section input {
  font-size: 1.2rem;
  min-width: 1.5rem;
  field-sizing: content;
}